{% extends "base.html" %}
{% block content %}
    <h2>Items</h2>
    {% for item in feed_items %}
        <div class="feed-item">
            <div>
                <a href="{{ item.url }}"><h3>{{ item.title }}</h3></a>
                <small>{{ item.pub_date }}</small>&nbsp;[<a href="{% url 'home' %}?feed={{ item.feed.id }}">{{ item.feed.name }}</a>]
            </div>
            <div class="feed-description">
                {{ item.description|safe }}
            </div>
        </div>
    {% endfor %}


{% endblock %}
